body {
  background-color: #b7b6bb;
}
.App {
  font-family: "Jua", sans-serif;
  background-color: #c5cfeb;
  color: #c68883;
  text-transform: capitalize;
  max-width: 650px;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #c5cfeb;
}

p {
  font-size: x-small;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.row {
  margin: 0;
}
